
# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
*.pyo
*.pyd
*.pdb

# Virtual environments
venv/
env/
*.env

# VS Code
.vscode/

# PyCharm
.idea/

# Byte-compiled / optimized / DLL files
*.pyc

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Logs
*.log

# Local environment files
.env

configs.json

# Ignore pyenv files
.python-version

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# SQLite database
*.sqlite3

# macOS
.DS_Store

images/
